<h2>Current Pipeline Stats</h2>

<table>
  <tr><th>Pipeline Stage</th><th>User Count</th></tr>
  <% @res.each do |row| %>
    <tr>
      <td><%= row["name"] %></td>
      <td><%= row["user_count"] %></td>
    </tr>
  <% end %>
</table>
